/* header */
.header{
    width: 200px;
    height: 1000px;
    /* border-top:1px solid #fff; */
    z-index: 9999;
    /* padding-top: 22px; */
    top: -50px;
    background-color: #cbcbcb;
    float: left;
    /* margin-right: 50px; */
}
h1{
    width: 200px;
    background-color: #cbcbcb;
    text-align: center;
    padding: 20px 0;
}

header ul{
    margin-top: 30px;
}

header li a{
    padding: 20px;
    text-align: center;
    display: block;

}
li a:hover {
    text-align: center;
    background: #333;
    color: #fff;
}
.home {
    background : rgb(130, 127, 127);
    color: #fff;
}


/* ----------------user_mu */
.user_mu{
    width: 400px;
    font-size: 14px;
    height: 38px;
    position: absolute;
    top: 10px;
    right: 64px;
    /* background-color: #00f; */
}
.pnt_name{
    float: right;
}
.user_mu span{
    margin-right:20px;
}

.user_log{
    float: right;
}
.user_log:after{
    content:"|";
    margin:10px;
}
.user_join{
    float: right;
}
.user_join:after{
    content:"|";
    margin:10px;
}

.user_lang{
    float: right;
    
}


/* ---------------------------------------main */
form{
    width: 100%;
    margin: auto;
}
fieldset{
    border: none;
}
legend{
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 50px 0 30px 0;
}
form div{
    border-bottom:0.5px solid #cbcbcb ;
}
.writer{
    border-top: 2px solid #333;
}
.up_file{
    border-bottom: 2px solid #333;
}
label{
    width: 120px;
    /* background-color: #e9e9e9; */
    display:inline-block;
    padding: 20px;
    text-align: center;
}
select{
    width: 200px;
    height: 30px;
}

input{
    width: 500px;
    height: 30px;

}
textarea{
    width: 700px;
    height: 340px;
    margin-top: 16px;
}

.bottom{
    margin-top: 30px;
    border: none;
    text-align: center;
}
.bottom button{
    width: 100px;
    height: 40px;

}