/* header */
.header{
    width: auto;
    height:110px;
    /* border-top:1px solid #fff; */
    border-bottom:1px solid #cbcbcb;
}

/* logo */
.logo{
    width:160px;
    height:66px;
    margin:20px 0 15px 60px;
    float: left;
}
.logo a {
    display: block;
    width: 120px;
    height: 66px;
    background: url(../images/logo3.jpg)no-repeat;
    text-indent: -9999px;
}

/* ----------------------------------------------------gnb */
.gnb{
    padding-top:40px ;
    /* border-bottom:1px solid #cbcbcb; */
    /* float: left; */
}
/* .gnb>ul{width: 1000px; height: 40px; margin:auto;} */
.gnb >ul{
    width: 1200px;
    height: 40px;
    margin: auto;
}
.gnb_1 > a{
    font-weight:bold;
}

.gnb>ul>li{font-size:18px;font:"나눔고딕";float: left;width: 170px;height: 40px;line-height: 30px;text-align: center;position: relative;}
.gnb>ul>li>a{ padding-top:20px ; display:block; height: 50px;}
.gnb ul ul{width: 100%; position: absolute; left: 0px;top: 70px;border:1px solid #cbcbcb;background: white; }


/* -----------------------fm---------- */
.fm{
    /* width: 400px; */
    height: 83px;
    margin:auto;
    position: relative;
}
.fm{
    position:absolute;
    right: 60px;
    top: 34px;
}
.fm_search{
    float: left;
    margin-right:16px;
}

.fm_search a{
    display: block;
    width: 50px;
    height: 83px;
    /* padding:50px 0 0 4px;
    box-sizing:border-box; */
    background: url(../images/fast1_1.png)no-repeat;
    position: relative;
}
.fm_search span{
    position: absolute;
    top: 50px;
    left:2px;
}

.fm_smart{
    float: left;
    margin-right:16px
    
}

.fm_smart a{
    display: block;
    width: 76px;
    height: 83px;
    /* padding:50px 1px 0 0px;
    box-sizing:border-box; */
    background: url(../images/fast1_2.png)no-repeat;
    position: relative;
}
.fm_smart span{
    position: absolute;
    top: 50px;
    left: -10px
}

.fm_stu{
    float: left;
    margin-right:14px
}

.fm_stu a{
    display: block;
    width: 65px;
    height: 83px;
    /* padding:50px 0 0 0;
    margin: auto;
    box-sizing:border-box; */
    background: url(../images/fast1_3.png)no-repeat;
    position: relative;
    
}
.fm_stu span{
    position: absolute;
    top: 50px;
    left: -10px
}

.fm_entr{
    float: left;
}

.fm_entr a{
    display: block;
    width: 62px;
    height: 83px;
    /* padding:50px 0 0 0px;
    box-sizing:border-box; */
    background: url(../images/fast1_4.png)no-repeat;
    position: relative;
}
.fm_entr span{
    position: absolute;
    top: 50px;
    left: -8px
}



/* ----------------user_mu */
.user_mu{
    font-size: 14px;
    height: 18px;
    position: absolute;
    top: 0px;
    right: 64px;
}

.user_log{
    float: left;
}
.user_log:after{
    content:"|";
    margin:10px;
}
.user_join{
    float: left;
}
.user_join:after{
    content:"|";
    margin:10px;
}
.user_cos{
    float: left;
}
.user_cos:after{
    content:"|";
    margin:10px;
}
.user_lang{
    float: left;
}

/* -------------------group */
/* .group{
    width: 1200px;
    height: 76px;

    margin: auto;
    position: relative;
}
.group >dl{
    position:absolute;
    left: 0;
    top: -240px;
}

.group_1{
    float: left;
}
.group_1 a {
    display: block;
    width: 109px;
    height: 76px;
    padding:44px 0 0 10px;
    box-sizing:border-box;
    background: url(../images/group_1.jpg)no-repeat;
}
.group_2{
    float: left;
}
.group_2 a {
    display: block;
    width: 110px;
    height: 76px;
    padding:44px 0 0 25px;
    box-sizing:border-box;
    background: url(../images/group_2.jpg)no-repeat;
} */